# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.idea/
*.iml
out
gen

### Maven template
target/

### Eclipse template
.metadata/
bin/
tmp/
*.tmp
*.bak
.settings/
.loadpath

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath
*.xmi
*.index
*.resources
*.class
#
.metadata/
*.xml
